
<!-- header -->
<nav class="navbar fixed-top navbar-expand-sm navbar-dark bg-dark mb-0">
    <div class="container">
        <i class="fas fa-graduation-cap fa-3x mb-2"></i>
        <a class="navbar-brand" routerLink="/home">LIBRALIZE</a>
        <ul class="navbar-nav">
            <li class="nav-item mx-3">
                <a class="nav-link" routerLink="/home" routerLinkActive="active">HOME</a>
            </li>
            <!-- <li class="nav-item mx-3">
                <a class="nav-link" routerLink="/qna" routerLinkActive="active">Q&A</a>
            </li> -->
             <!-- <li class="nav-item dropdown mx-3">
                <a class="nav-link dropdown-toggle" 
                    data-toggle="dropdown" 
                    style="cursor: pointer;"
                    routerLinkActive="active">Sign In</a>
                <div class="dropdown-menu">
                    <a routerLink="/signin" class="dropdown-item" routerLinkActive="active">User Sign In</a>
                    <a routerLink="/adminsignin" class="dropdown-item" routerLinkActive="active">Admin Sign In</a>
                </div>
            </li>
            <li class="nav-item mx-3">
                <a class="nav-link" routerLink="/signup" routerLinkActive="active">Sign Up</a>
            </li> -->
            <li class="nav-item mx-3">
                <a class="nav-link" routerLink="/contact" routerLinkActive="active">CONTACT</a>
            </li> 
        </ul>
    </div>
</nav>


<!-- PAGE HEADER -->
<header id="page-header">
        <div class="container">
          <div class="row">
            <div class="col-md-6 m-auto text-center">
      
              <h1>Discussion Hall</h1>
              <p>Welcome to the Question and Answer section. <br> Before posting a question please have a look for the answer to your question in the FAQs dropdowns.</p>
      
            </div>
          </div>
        </div>
</header>
      

<div class="container mt-5 mb-5">
    <h1 class="text-center">Frequently Asked Questions</h1>
    <br>
    <!-- ACCORDION -->
    <div id="accordion">
        <div class="card">
          <div class="card-header">
            <h5>
              <a href="#collapse1" data-parent="#accordion" data-toggle="collapse">
                Why do I need to register on the site?
              </a>
            </h5>
          </div>
    
          <div id="collapse1" class="collapse show">
            <div class="card-body">
              Establishing an online account with Libralize assures you that your purchasing information is secure, confidential and accessible to you.
            </div>
          </div>
        </div>
                     
        <div class="card">
          <div class="card-header">
            <h5>
              <a href="#collapse2" data-parent="#accordion" data-toggle="collapse">
                What if I can't find what I'm looking for?
              </a>
            </h5>
          </div>
    
          <div id="collapse2" class="collapse">
            <div class="card-body">
              The best way to locate a product in the online bookstore is to use the Product Search functions located in the top area of the user-panel after login.
            </div>
          </div>
        </div>
    
        <div class="card">
          <div class="card-header">
            <h5>
              <a href="#collapse3" data-parent="#accordion" data-toggle="collapse">
                How will Libralize protect my anonymity?
              </a>
            </h5>
          </div>
    
          <div id="collapse3" class="collapse">
            <div class="card-body">
              Confidentiality is important to us. Libralize respects your anonymity. We do not share our users list with any organization outside of Libralize.
            </div>
          </div>
        </div>

        <div class="card">
                <div class="card-header">
                  <h5>
                    <a href="#collapse4" data-parent="#accordion" data-toggle="collapse">
                      What is the Book Aid Fund?
                    </a>
                  </h5>
                </div>
          
                <div id="collapse4" class="collapse">
                  <div class="card-body">
                    Libralize gives recovery resources to individuals and agencies in need through the Libralize Book Aid Program.
                  </div>
                </div>
              </div>

              <div class="card">
                    <div class="card-header">
                      <h5>
                        <a href="#collapse5" data-parent="#accordion" data-toggle="collapse">
                          Searching for products within the bookstore
                        </a>
                      </h5>
                    </div>
              
                    <div id="collapse5" class="collapse">
                      <div class="card-body">
                        To optimize your search results, we suggest using the branch and semester filter dropdowns.
                      </div>
                    </div>
                  </div>

                  <div class="card">
                        <div class="card-header">
                          <h5>
                            <a href="#collapse6" data-parent="#accordion" data-toggle="collapse">
                              How can I contact you to enquire about my online order?
                            </a>
                          </h5>
                        </div>
                  
                        <div id="collapse6" class="collapse">
                          <div class="card-body">
                            Please e-mail "libralizeofficial@gmail.com" with your questions.
                          </div>
                        </div>
                      </div>
    
    <!-- ASK US TRIGGER -->
    <button class="btn btn-success mt-4" data-toggle="modal" data-target="#loginModal">ASK US!</button>

    <!-- LOGIN MODAL -->
    <div class="modal" id="loginModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5>Send us your question!</h5>
            <button class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
            <form action="MAILTO:chaubeykartik@gmail.com" method="post" enctype="text/plain">
              <div class="form-group">
                    <input class="form-control" type="text" id="username" placeholder="Enter your name">
              </div>
              <div class="form-group">
                    <input class="form-control" type="email" id="email" placeholder="Enter your email">
              </div>
              <div class="form-group">
                    <textarea class="form-control" id="message" rows="3" placeholder="Your query here..."></textarea>
                </div>    
            </form>
          </div>
          <div class="modal-footer">
            <button class="btn btn-primary" data-dismiss="modal">Send</button>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>



<!-- FOOTER -->
<footer id="main-footer" class="text-center p-4">
        <div class="container">
          <div class="row">
            <div class="col">
              <p>Copyright &copy; <span id="year"></span> Libralize</p>
            </div>
          </div>
        </div>
</footer>

