<!-- header -->
<nav class="navbar fixed-top navbar-expand-sm navbar-dark bg-dark mb-0">
    <div class="container">
        <a class="navbar-brand" routerLink="/home">LIBRALIZE</a>
        <ul class="navbar-nav">
            <li class="nav-item mx-3">
                <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
            </li>
            <!-- <li class="nav-item mx-3">
                <a class="nav-link" routerLink="/qna" routerLinkActive="active">Q&A</a>
            </li> -->
             <!-- <li class="nav-item dropdown mx-3">
                <a class="nav-link dropdown-toggle" 
                    data-toggle="dropdown" 
                    style="cursor: pointer;"
                    routerLinkActive="active">Sign In</a>
                <div class="dropdown-menu">
                    <a routerLink="/signin" class="dropdown-item" routerLinkActive="active">User Sign In</a>
                    <a routerLink="/adminsignin" class="dropdown-item" routerLinkActive="active">Admin Sign In</a>
                </div>
            </li>
            <li class="nav-item mx-3">
                <a class="nav-link" routerLink="/signup" routerLinkActive="active">Sign Up</a>
            </li> -->
            <li class="nav-item mx-3">
                <a class="nav-link" routerLink="/contact" routerLinkActive="active">Contact</a>
            </li> 
        </ul>
    </div>
</nav>
<p>
  qna works!
</p>
