<!-- PAGE HEADER -->
<header id="page-header">
  <div class="container">
    <div class="row">
      <div class="col-md-6 m-auto text-center">
        <h1>Sign-Up</h1>
        <p>Register to Libralize to get started with your exploration!</p>
      </div>
    </div>
  </div>
</header>

<!-- INPUT FORM -->

<div class="container mt-5 mb-5">
  <form (ngSubmit)="onSubmit()" #f="ngForm">
    <div class="form-group">
      <label for="name">Name</label>
      <input
        class="form-control"
        type="text"
        id="name"
        ngModel
        name="name"
        placeholder="Enter name"
        required
        #name="ngModel"
      />
      <span class="help-box" *ngIf="!name.valid && name.touched"
        >Please enter your name!</span
      >
    </div>
    <div class="form-group">
      <label for="email">Email address</label>
      <input
        class="form-control form-control-lg"
        type="email"
        id="email"
        ngModel
        name="email"
        placeholder="Enter email"
        required
        email
        #email="ngModel"
      />
      <span class="help-block" *ngIf="!email.valid && email.touched"
        >Please enter a valid email!</span
      >
      <small class="form-text text-muted"
        >Your email will not ever be shared</small
      >
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input
        class="form-control"
        type="password"
        ngModel
        name="password"
        id="password"
        required
      />
      <!-- <div class="invalid-feedback">
          Password not strong enough
      </div> -->
    </div>
    <div class="form-group">
      <label for="password2">Confirm Password</label>
      <input
        class="form-control"
        type="password"
        ngModel
        name="password2"
        id="password2"
        required
      />
      <!-- <div class="invalid-feedback">
          Password does not match
      </div> -->
    </div>
    <button class="btn btn-primary" type="submit" [disabled]="!f.valid">
      Register
    </button>
  </form>
</div>

<!-- FOOTER -->
<footer id="main-footer" class="text-center p-4">
  <div class="container">
    <div class="row">
      <div class="col">
        <p>Copyright &copy; <span id="year"></span> Libralize</p>
      </div>
    </div>
  </div>
</footer>
