<div class="row">
  <div class="col-md-6">
      <div class="list-group-item clearfix mb-2">
          <div class="pull-left">
            <h4>Book Name</h4>
            <h5>~ Author's Name</h5>
            
            <h6>Publisher</h6>
            
            <p>Branch: CS</p>
            <p>Semester: 5th</p>
            
            <button class="btn btn-warning" routerLink="/updatebook">Edit</button>
            <button class="btn btn-danger">Delete</button>
          </div>
          <span class="pull-right">
            <img src="https://source.unsplash.com/random/book" 
                class="img-responsive" 
                style="max-height: 200px; max-width: 200px;">
          </span>
      </div>      
  </div>  
  <div class="col-md-6">
      <div class="list-group-item clearfix mb-2">
          <div class="pull-left">
            <h4>Book Name</h4>
            <h5>~ Author's Name</h5>
            
            <h6>Publisher</h6>
            
            <p>Branch: CS</p>
            <p>Semester: 5th</p>
            
            <button class="btn btn-warning" routerLink="/updatebook">Edit</button>
            <button class="btn btn-danger">Delete</button>
          </div>
          <span class="pull-right">
            <img src="https://source.unsplash.com/random/book" 
                class="img-responsive" 
                style="max-height: 200px; max-width: 200px;">
          </span>
      </div>      
  </div>  
  <div class="col-md-6">
      <div class="list-group-item clearfix mb-2">
          <div class="pull-left">
            <h4>Book Name</h4>
            <h5>~ Author's Name</h5>
            
            <h6>Publisher</h6>
            
            <p>Branch: CS</p>
            <p>Semester: 5th</p>
            
            <button class="btn btn-warning" routerLink="/updatebook">Edit</button>
            <button class="btn btn-danger">Delete</button>
          </div>
          <span class="pull-right">
            <img src="https://source.unsplash.com/random/book" 
                class="img-responsive" 
                style="max-height: 200px; max-width: 200px;">
          </span>
      </div>      
  </div>  
</div>