<!-- PAGE HEADER -->
<header id="page-header">
  <div class="container">
    <div class="row">
      <div class="col-md-6 m-auto text-center">
        <h1>Welcome Username</h1>
        <div class="dropdown">
            <button class="btn btn-dark dropdown-toggle" type="button" data-toggle="dropdown">
                Manage
            </button>
            <div class="dropdown-menu" style="cursor: pointer">
                <a class="dropdown-item" routerLink="/qna">Q & A</a>
                <a class="dropdown-item" routerLink="/contact">Contact Us</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" routerLink="/home">Logout</a>
            </div>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- SEARCH -->
<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col-md-4">
        <form>
            <div class="form-group">
                <label for="branch">Select Branch *</label>
                <select class="form-control" id="branch">
                    <option>CS</option>
                    <option>EC</option>
                    <option>EX</option>
                    <option>ME</option>
                    <option>FT</option>
                    <option>CM</option>
                </select>
            </div>
        </form>
    </div>
    <div class="col-md-4">
        <form>
            <div class="form-group">
                <label for="semester">Select Semester *</label>
                <select class="form-control" id="semester">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                </select>
            </div>
        </form>
    </div>
    <div class="col-md-4">
        <form>
            <div class="form-group">
              <br>
              <button class="btn btn-success">Search books</button>
            </div>
        </form>
    </div>
  </div>
</div>
<hr>

<div class="container mt-5 mb-5">
  <app-book-list></app-book-list>
</div>
